---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You may request a full PDF copy of any of the below publications by <a href="mailto:131722827+Speidell@users.noreply.github.com">emailing me.</a></div>
{% endif %}
<br>
<br>

{% include base_path %}

Speidell A, Agbey C, Mocchetti I. Accelerated neurodegeneration of basal forebrain cholinergic neurons in HIV-1 gp120 transgenic mice: Critical role of the p75 neurotrophin receptor. <i>Brain Behav Immun.</i>2024 Mar;117:347-355. doi: 10.1016/j.bbi.2024.01.215. Epub 2024 Jan 22. PMID: 38266662 

<br>
Speidell A, Bin Abid N, Yano H. Brain-Derived Neurotrophic Factor Dysregulation as an Essential Pathological Feature in Huntington’s Disease: Mechanisms and Potential Therapeutics. <i>Biomedicines.</i> 2023; 11(8):2275. https://doi.org/10.3390/biomedicines11082275 
<br>

Speidell A, Walton S, Campbell L, Tessarollo L, Tomassoni-Ardoni F, Corbo C, Taraballi F, Mocchetti I. Mice deficient for G-protein coupled receptor 75 display altered presynaptic structural protein expression and disrupted fear conditioning recall. <i>J Neurochem.</i> 2023;165:827-841. PMID: 36978267 
<br>

Speidell A. Investigation of the role of the p75 neurotrophin receptor in HIV-1 gp120-associated synaptic and neural injury. [Doctoral dissertation] Georgetown University, Washington, DC. (2023)

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

>

