---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You may request a full PDF copy of any of the below publications by <a href="mailto:aps114+speidell@georgetown.edu">emailing me.</a></div>
{% endif %}
Last updated: 31 December 2025
<br><br>

Speidell A, Agbey C, Mocchetti I. Accelerated neurodegeneration of basal forebrain cholinergic neurons in HIV-1 gp120 transgenic mice: Critical role of the p75 neurotrophin receptor. <i>Brain Behav Immun.</i> 2024 Mar;117:347-355. doi: 10.1016/j.bbi.2024.01.215. Epub 2024 Jan 22. PMID: 38266662 
<br><br>

Speidell A, Bin Abid N, Yano H. Brain-Derived Neurotrophic Factor Dysregulation as an Essential Pathological Feature in Huntington’s Disease: Mechanisms and Potential Therapeutics. <i>Biomedicines.</i> 2023; 11(8):2275. doi: 10.3390/biomedicines11082275. 
<br><br>

Speidell A, Walton S, Campbell L, Tessarollo L, Tomassoni-Ardoni F, Corbo C, Taraballi F, Mocchetti I. Mice deficient for G-protein coupled receptor 75 display altered presynaptic structural protein expression and disrupted fear conditioning recall. <i>J Neurochem.</i> 2023;165:827-841. PMID: 36978267 
<br><br>

Speidell A. Investigation of the role of the p75 neurotrophin receptor in HIV-1 gp120-associated synaptic and neural injury. [Doctoral dissertation] Georgetown University, Washington, DC. (2023)
<br><br>

Downey RM, Downey KB, Jacobs J, Korthas H, Melchor GS, Speidell A, Waguespack H, Mulroney SE, Myers AK. Learning design in science education: perspectives from designing a graduate-level course in evidence-based teaching of science. <i>Adv Physiol Educ.</i> 2022 Dec 1;46(4):651-657. doi: 10.1152/advan.00069.2022. Epub 2022 Sep 29. PMID: 36173341.
<br><br>

Speidell A and Mocchetti I. The p75 neurotrophin receptor: emerging role in the pathogenesis of mature synapses in Human Immunodeficiency Virus-Associated Neurocognitive Disorders. <i>HIV-Associated Neurocognitive Disorders.</i> (2023)
<br><br>

Asuni GP, Speidell A, Mocchetti I. Neuronal apoptosis induced by morphine withdrawal is mediated by the p75 neurotrophin receptor. <i>J Neurochem.</i> 2021 Jul;158(2):169-181. doi: 10.1111/jnc.15355. Epub 2021 Apr 12. PMID: 33742683.
<br><br>

Speidell A, Asuni GP, Wakulski R, Mocchetti I. Up-regulation of the p75 neurotrophin receptor is an essential mechanism for HIV-gp120 mediated synaptic loss in the striatum. <i>Brain Behav Immun.</i> 2020 Oct;89:371-379. doi: 10.1016/j.bbi.2020.07.023. Epub 2020 Jul 24. PMID: 32717404; PMCID: PMC7572812.
<br><br>

Speidell A, Asuni GP, Avdoshina V, Scognamiglio S, Forcelli P, Mocchetti I. Reversal of Cognitive Impairment in gp120 Transgenic Mice by the Removal of the p75 Neurotrophin Receptor. <i>Front Cell Neurosci.</i> 2019 Aug 30;13:398. doi: 10.3389/fncel.2019.00398. PMID: 31543761; PMCID: PMC6730486.
<br><br>

Wenzel ED, Speidell A, Flowers SA, Wu C, Avdoshina V, Mocchetti I. Histone deacetylase 6 inhibition rescues axonal transport impairments and prevents the neurotoxicity of HIV-1 envelope protein gp120. <i>Cell Death Dis.</i> 2019 Sep 12;10(9):674. doi: 10.1038/s41419-019-1920-7. PMID: 31515470; PMCID: PMC6742654.
<br><br>

Speidell AP, Demby T, Lee Y, Rodriguez O, Albanese C, Mandelblatt J, Rebeck GW. Development of a Human APOE Knock-in Mouse Model for Study of Cognitive Function After Cancer Chemotherapy. <i>Neurotox Res.</i> 2019 Feb;35(2):291-303. doi: 10.1007/s12640-018-9954-7. Epub 2018 Oct 4. PMID: 30284204; PMCID: PMC6333492.
<br><br>

Speidell A. The Effect of Cirazoline and Clonidine on the Firing Rates of Thermoclassified Neurons in the Anterior Hypothalamus. [Honors thesis] The College of William and Mary, Williamsburg, Virginia (2008).
<br><br>

Imbery TE, Irdmusa MS, Speidell AP, Streer MS, Griffin JD. The effects of Cirazoline, an alpha-1 adrenoreceptor agonist, on the firing rates of thermally classified anterior hypothalamic neurons in rat brain slices. <i>Brain Res.</i> 2008 Feb 8;1193:93-101. doi: 10.1016/j.brainres.2007.12.016. Epub 2007 Dec 15. PMID: 18184607; PMCID: PMC2268753.
<br><br>

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

>

