---
layout: archive
title: "Teaching Experience and Training in Pedagogy"
permalink: /teaching/
author_profile: true
---
<a href="{{ base_path }}/files/Speidell Teaching Philosophy Statement 31Dec2025.pdf">My current statement</a> of teaching and mentorship philosophy. Last updated: 31 December 2025.

<style>
  .archive__item {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
</style>

{% include base_path %}

<ul style="line-height: 1.2;">
{% for post in site.teaching reversed %}
  <li>
    <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>, {{ post.venue }} ({{ post.date | date: "%Y" }})
  </li>
{% endfor %}
</ul>
